body {
	background-color:#0f66c6;
	background:url('img/th.jpg');
}

#contenedor{
	
	width:900px; /*ancho*/
	margin:0 auto; /*mergen automatico*/
	border:1px solid black; /*linea*/
	text-align: center; /*centrar texto*/
	color:white;
	
}

#encabezado{
	height:70px;
	background-color:#1af807;
	
}

#cuerpo{
	height:450px;
	background-color:#f10e52;
}

#pie{
	height:50px;
	background-color:#060606;
}
